.activityList {
  margin: 0px 30px;
  &__title {
    display: flex;
    justify-content: space-between;

    div {
      display: flex;
      align-items: center;
      img {
        padding: 0 10px;
      }
    }
  }
  &__items {
    display: flex;
    justify-content: space-evenly;
  }
}

.activity {
  &__image {
    margin: 0px;
    width: 315px;
    height: 215px;
  }
}

.challenge {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__Invite {
    border-top: thin solid black;
    margin: 0;
    padding: 20px 20px;
  }
  &__Choice {
    width: 80%;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &--image {
      object-fit: fill;
    }
    &--button {
      background-color: #4fb1de;
    }
  }
  &__Closebtn {
    background-color: #46327b;
  }
}

.homepage {
  margin: 0 10%;
}
