
.activityList {
  margin: 0px 30px;
  &__title {
    display: flex;
    justify-content: space-between;

    div {
      display: flex;
      align-items: center;
      img {
        padding: 0 10px;
      }
    }
  }
  &__items {
    display: flex;
    justify-content: space-evenly;
  }
}

.activity {
  &__image {
    margin: 0px;
    width: 315px;
    height: 215px;
  }
}

.challenge {
  &__Choice{
    display: flex;
    &--button{
      background-color:#4FB1DE;
    }
  }
  &__Closebtn{
    background-color: #46327B;
  }
}

.upload{
  &__Title{
    display: flex;
  }
  &__Option{
    display: flex;
    &--btn{
      background-color: #46327B;
      margin: 30px 20px;
      width: 168px;
      height: 54px;
    }
  }
  &__Bttn{
    background-color: #46327B;
  }
}

.homepage {
  margin: 0 10%;
}